@import "tailwindcss";


html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important; /* bg-gray-900 */
  box-shadow: 0 0 0px 1000px #111827 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
